
@*Modal Buscar OV*@
<div class="modal fade bd-example-modal-sm" id="ModalFindOV" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header" style="justify-content: center; align-items: center; display: flex; ">
                <h5 class="modal-title" style=" font-size: 20px; color: #236ddb; ">Informacion de la orden</h5>
            </div>

            <div class="modal-body">
                <form>

                    <div class="form-group">
                        <label for="OVText">Orden</label>
                        <input type="number" class="form-control" id="OVText" placeholder="Ingrese el N° de OV" style="margin-bottom: 10px;">
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="CloseModalFindOV()" id="CloseMFOV">Cerrar</button>
                <button type="button" class="btn btn-secondary" onclick="FindRouteOV()" id="FindOV">Buscar</button>
            </div>

        </div>
    </div>
</div>

@*Modal agregar OV*@
<div class="modal fade" id="ModalAddOV" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="justify-content: center; align-items: center; display: flex; ">
                <h5 class="modal-title" style=" font-size: 20px; color: #236ddb; ">Informacion de la orden de venta </h5>
            </div>
            <div class="modal-body" id="DivAddOV">
                <form>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="ShipToCodeAddOv">Código destino</label>
                        <input type="text" class="form-control" id="ShipToCodeAddOv" @*placeholder="*"*@ style="margin-bottom: 10px;" readonly>
                        <div id="invalidFeedback-Form-AddOv-ShipToCodeAddOv" class="invalid-feedback"> 
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="CardNameAddOv">Nombre del cliente</label>
                        <input type="text" class="form-control" id="CardNameAddOv" @*placeholder="*"*@ style="margin-bottom: 10px;" readonly>
                        <div id="invalidFeedback-Form-AddOv-CardNameAddOv" class="invalid-feedback"> 
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="StreetAddOv">Dirección</label>
                        <input type="text" class="form-control" id="StreetAddOv" @*placeholder="*"*@ style="margin-bottom: 10px;" readonly>
                        <div id="invalidFeedback-Form-AddOv-StreetAddOv" class="invalid-feedback"> 
                        </div>
                    </div>
                </div>

                <div class="col"> 
                    <div class="form-group">
                        <label for="BlockAddOv">Colonia</label>
                        <input type="text" class="form-control" id="BlockAddOv" @*placeholder="*"*@ style="margin-bottom: 10px;" readonly>
                        <div id="invalidFeedback-Form-AddOv-BlockAddOv" class="invalid-feedback"> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="ZipCodeAddOv">C.P.</label>
                        <input type="text" class="form-control" id="ZipCodeAddOv" @*placeholder="*"*@ style="margin-bottom: 10px;" readonly>
                        <div id="invalidFeedback-Form-AddOv-ZipCodeAddOv" class="invalid-feedback"> 
                        </div>
                    </div>
                </div>

                <div class="col"> 
                    <div class="form-group">
                        <label for="CityAddOv">Ciudad</label>
                        <input type="text" class="form-control" id="CityAddOv" @*placeholder="*"*@ style="margin-bottom: 10px;" readonly>
                        <div id="invalidFeedback-Form-AddOv-CityAddOv" class="invalid-feedback"> 
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="U_NAMEAddOv">Ejecutivo(a)</label>
                        <input type="text" class="form-control" id="U_NAMEAddOv" @*placeholder="*"*@ style="margin-bottom: 10px;" readonly>
                        <div id="invalidFeedback-Form-AddOv-U_NAMEAddOv" class="invalid-feedback"> 
                        </div>
                    </div>
                </div>

                <div class="col"> 
                    <div class="form-group">
                        <label for="ConditionAddOv">Condición de pago</label>
                        <input type="text" class="form-control" id="ConditionAddOv" @*placeholder="*"*@ style="margin-bottom: 10px;" readonly>
                        <div id="invalidFeedback-Form-AddOv-ConditionAddOv" class="invalid-feedback"> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="DocNumsAddOv">N° OV</label>
                        <input type="text" class="form-control" id="DocNumsAddOv" @*placeholder="*"*@ style="margin-bottom: 10px;" readonly>
                        <div id="invalidFeedback-Form-AddOv-DocNumsAddOv" class="invalid-feedback"> 
                        </div>
                    </div>
                </div>

                <div class="col"> 
                    <div class="form-group">
                        <label for="DocDateAddOv">Fecha OV</label>
                        <input type="text" class="form-control" id="DocDateAddOv" @*placeholder="*"*@ style="margin-bottom: 10px;" readonly>
                        <div id="invalidFeedback-Form-AddOv-DocDateAddOv" class="invalid-feedback"> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="RouteAddOv">Ruta</label>
                        <input type="text" class="form-control" id="RouteAddOv" @*placeholder="*"*@ style="margin-bottom: 10px;" readonly>
                        <div id="invalidFeedback-Form-AddOv-RouteAddOv" class="invalid-feedback"> 
                        </div>
                    </div>
                </div>

                <div class="col"> 
                    <div class="form-group">
                        <label for="PhoneAddOv">Telefono de contacto</label>
                        <input type="text" class="form-control" id="PhoneAddOv" @*placeholder="*"*@ style="margin-bottom: 10px;">
                    </div>
                </div>
            </div>
 
                    <div class="form-group">
                            <label for="ConditionsTypeAddOv">Metodo de pago</label>
                            <input type="text" class="form-control" id="ConditionsTypeAddOv" @*placeholder="*"*@ style="margin-bottom: 10px;" readonly>
                            <div id="invalidFeedback-Form-EditOv-ConditionsTypeAddOv" class="invalid-feedback">
                        </div>
                    </div> 
 
                    <div class="form-group">
                        <label for="CommentsAddOv">Comentarios</label>
                        <textarea type="text" class="form-control" id="CommentsAddOv" @*placeholder="*"*@ style="margin-bottom: 10px;" rows="4" cols="50" > </textarea>
                    </div> 
                     

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="CloseModalAddOV()" id="CloseMAOV">Cerrar</button>
                <button type="button" class="btn btn-secondary" onclick="AddOvToROute()" id="AddOVR">Agregar orden</button>
            </div>
        </div>
    </div>
</div>

@*Modal editar editar ruta*@
<div class="modal fade" id="ModaEditRoute" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="justify-content: center; align-items: center; display: flex; ">
                <h5 class="modal-title" style=" font-size: 20px; color: #236ddb; ">Informacion de la ruta </h5>
            </div>
            <div class="modal-body">
                <form>

                    <div class="form-group">
                        <label for="IDAddresEdit" hidden>ID</label>
                        <input type="text" class="form-control" id="IDRouteEdit" hidden @*placeholder="*"*@ style="margin-bottom: 10px;" readonly>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="ShipToCodeRouteEdit">Código destino</label>
                                <input type="text" class="form-control" id="ShipToCodeRouteEdit" @*placeholder="*"*@ style="margin-bottom: 10px;" readonly>
                                <div id="invalidFeedback-Form-EditOv-ShipToCodeRouteEdit" class="invalid-feedback">
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label for="CardNameRouteEdit">Nombre del cliente</label>
                                <input type="text" class="form-control" id="CardNameRouteEdit" @*placeholder="*"*@ style="margin-bottom: 10px;" readonly>
                                <div id="invalidFeedback-Form-EditOv-CardNameRouteEdit" class="invalid-feedback">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="StreetRouteEdit">Dirección</label>
                                <input type="text" class="form-control" id="StreetRouteEdit" @*placeholder="*"*@ style="margin-bottom: 10px;" readonly>
                                <div id="invalidFeedback-Form-EditOv-StreetRouteEdit" class="invalid-feedback">
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label for="BlockRouteEdit">Colonia</label>
                                <input type="text" class="form-control" id="BlockRouteEdit" @*placeholder="*"*@ style="margin-bottom: 10px;" readonly>
                                <div id="invalidFeedback-Form-EditOv-BlockRouteEdit" class="invalid-feedback">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="ZipCodeRouteEdit">C.P.</label>
                                <input type="text" class="form-control" id="ZipCodeRouteEdit" @*placeholder="*"*@ style="margin-bottom: 10px;" readonly>
                                <div id="invalidFeedback-Form-EditOv-ZipCodeRouteEdit" class="invalid-feedback">
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label for="CityRouteEdit">Ciudad</label>
                                <input type="text" class="form-control" id="CityRouteEdit" @*placeholder="*"*@ style="margin-bottom: 10px;" readonly>
                                <div id="invalidFeedback-Form-EditOv-CityRouteEdit" class="invalid-feedback">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="U_NAMERouteEdit">Ejecutivo(a)</label>
                                <input type="text" class="form-control" id="U_NAMERouteEdit" @*placeholder="*"*@ style="margin-bottom: 10px;" readonly>
                                <div id="invalidFeedback-Form-EditOv-U_NAMERouteEdit" class="invalid-feedback">
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label for="ConditionRouteEdit">Condición de pago</label>
                                <input type="text" class="form-control" id="ConditionRouteEdit" @*placeholder="*"*@ style="margin-bottom: 10px;" readonly>
                                <div id="invalidFeedback-Form-EditOv-ConditionRouteEdit" class="invalid-feedback">
                                </div>
                            </div>
                        </div> 
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="ConditionsTypeEdit">Metodo de pago</label>
                                <input type="text" class="form-control" id="ConditionsTypeEdit" @*placeholder="*"*@ style="margin-bottom: 10px;" readonly>
                                <div id="invalidFeedback-Form-EditOv-ConditionsTypeEdit" class="invalid-feedback">
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label for="PhoneRouteEdit">Telefono de contacto</label>
                                <input type="text" class="form-control" id="PhoneRouteEdit" @*placeholder="*"*@ style="margin-bottom: 10px;">
                            </div>
                        </div>  
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="DocNumsRouteEdit">Cantidad de OV</label>
                                <textarea type="text" class="form-control" id="DocNumsRouteEdit" @*placeholder="*"*@ style="margin-bottom: 10px;" rows="4" cols="50" readonly> </textarea>
                                <div id="invalidFeedback-Form-EditOv-DocNumsRouteEdit" class="invalid-feedback">
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label for="CommentsRouteEdit">Comentarios</label>
                                <textarea type="text" class="form-control" id="CommentsRouteEdit" @*placeholder="*"*@ style="margin-bottom: 10px;" rows="4" cols="50"> </textarea>
                            </div>
                        </div>
                    </div> 
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="CloseModalEditRoute()" id="CloseMER">Cerrar</button>
                <button type="button" class="btn btn-secondary" onclick="EditRoute()" id="EditRoute">Guardar</button>
            </div>
        </div>
    </div>
</div>

@* Modal Eliminar OV  *@
<div class="modal fade" id="ModalDeleteRoute" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <input id="DeleteRouteId" type="number" hidden>
                <h5 class="modal-title" id="exampleModalLabel">¿Estas seguro que deseas quitar la ruta seleccionado?</h5> 
            </div>
            <div class="modal-body">Seleccione "Sí, quitar" a continuación si desea remover la ruta seleccionada</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal" onclick="CloseModalDeleteRoute()">Cerrar</button>
                <button class="btn btn-danger" type="button" data-dismiss="modal" onclick="DeleteRoute()">Sí, quitar</button>
            </div>
        </div>
    </div>
</div>

@* OV Pendientes *@
<!---
<div class="modal fade" id="ModalPendingRoute" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @* <input id="DeleteRouteId" type="number" hidden> *@
                <h5 class="modal-title" id="exampleModalLabel">Rutas Pendientes Rutas</h5> 
            </div>
            <div class="modal-body">Seleccione "Sí, agregar" a continuación si desea añadir las OV pendientes</div>
         
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal" onclick="CloseModalPendingRoute()">Cerrar</button>
                <button class="btn btn-success" type="button" data-dismiss="modal" onclick="addPendingOv()">Sí, agregar</button>
            </div>
        </div>
    </div>
</div>
--->

  <!-- Large modal mostrar ruta-->
    <div class="modal fade bd-example-modal-xl" tabindex="-1" id="ModalPendingRoute" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Ordenes de venta Pendientes - <span id="description_id"></span>  </h5> 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"  data-bs-dismiss="modal">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <meta name="csrf-token" content="{{ csrf_token() }}" hidden>

                <input type="number" id="orders_details_id" hidden>

                <div id="toolbar">  
                  
                </div>
                <table id="Data-PendingRoute"
                data-toggle="table"
                data-toolbar="#toolbar"
                data-height="560" 
                data-search="true"
                data-show-fullscreen="true"
                data-show-columns="true"
                data-show-columns-toggle-all="true" 
                data-click-to-select="true"
                data-detail-formatter="detailFormatter"
                data-minimum-count-columns="2"
                data-locale="es-MX" 
                data-toggle="table" 
                data-card-view="false"
                >
                  <thead>
                    <tr>   
                        <th data-field="state" data-checkbox="true"></th>
                        <th data-field="Id" class="text-center wrap-text"  >ID</th>
                        <th data-field="CardCode" class="text-center wrap-text" >Codigo</th>
                        <th data-field="CardName" class="text-center wrap-text" >Descripcion </th> 
                        <th data-field="DocNums" class="text-center wrap-text" > Cantidad</th>   
                        <th data-field="U_NAME" class="text-center wrap-text" >SKU</th>
                    </tr>
                  </thead>
                </table>
                
              </div>        
              <div class="modal-footer mt-5"> 
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button> 
              </div>
            </div>
          </div>
        </div> 